{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
 <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec
 venenatis urna. Ut ut elit vel quam pellentesque dignissim id a sem.
 Ut consectetur auctor rutrum. Fusce fermentum elit vel nibh lacinia
 tincidunt. Etiam tempus lorem ut orci lobortis, non facilisis tellus
 pellentesque. Nullam commodo rhoncus egestas. Integer faucibus vel
 magna id congue. In faucibus, urna nec euismod eleifend, tortor lorem
 semper neque, et luctus orci erat quis lorem. Quisque ipsum ante,
 mollis ac elementum quis, congue sit amet lacus. Donec tincidunt
 gravida turpis ut condimentum.

Duis tempor tellus nec auctor mattis. Fusce vel tristique purus. Fusce
eget nisl fermentum, fermentum dolor at, luctus lacus. In tincidunt
laoreet aliquet. Proin nec viverra nisi, at tincidunt nibh. In dictum
ultricies turpis ut facilisis. Ut vel enim id augue aliquam facilisis.
Donec ullamcorper, velit id consequat vulputate, ex massa dapibus nunc,
nec hendrerit purus nisl nec purus. Curabitur ut euismod felis. Donec
pretium erat pellentesque volutpat posuere. Donec pellentesque
vulputate placerat.  -->
<h1 id="title">About</h1>
<h3>BUY GAMES</h3>
<p1 class="h4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Maecenas varius, massa nec lobortis congue, enim ex placerat libero, at
  ullamcorper justo magna quis nunc. Nullam id feugiat dui. Phasellus malesuada orci sit amet urna suscipit, ac placerat sem fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque magna mi, accumsan eget nulla vel, ultrices congue orci. Nam lobortis blandit urna. Nullam tincidunt, ligula non molestie porta, justo dolor rutrum magna, a tristique nibh neque sit amet nunc. Proin tincidunt lacus orci, at pellentesque ex maximus et. Maecenas dapibus nunc purus, ac porttitor diam placerat a. Cras a cursus diam, ut consectetur turpis. Proin sed gravida
  odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis ac
  consectetur eros. Aenean commodo libero laoreet aliquet sagittis. Proin
  pharetra at dui sed blandit. </p1>
<h3>MAKE GAMES AND EARN MONEY<h3>
<p1 class="h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Maecenas varius, massa nec lobortis congue, enim ex placerat libero, at
  ullamcorper justo magna quis nunc. Nullam id feugiat dui. Phasellus malesuada orci sit amet urna suscipit, ac placerat sem fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque magna mi, accumsan eget nulla vel, ultrices congue orci. Nam lobortis blandit urna. Nullam tincidunt, ligula non molestie porta, justo dolor rutrum magna, a tristique nibh neque sit amet nunc. Proin tincidunt lacus orci, at pellentesque ex maximus et. Maecenas dapibus nunc purus, ac porttitor diam placerat a. Cras a cursus diam, ut consectetur turpis. Proin sed gravida
  odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis ac
  consectetur eros. Aenean commodo libero laoreet aliquet sagittis. Proin
  pharetra at dui sed blandit. <p1>
<h3>SOCIALIZE AND COMPETE! </h3>
<p1 class="h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Maecenas varius, massa nec lobortis congue, enim ex placerat libero, at
  ullamcorper justo magna quis nunc. Nullam id feugiat dui. Phasellus malesuada orci sit amet urna suscipit, ac placerat sem fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque magna mi, accumsan eget nulla vel, ultrices congue orci. Nam lobortis blandit urna. Nullam tincidunt, ligula non molestie porta, justo dolor rutrum magna, a tristique nibh neque sit amet nunc. Proin tincidunt lacus orci, at pellentesque ex maximus et. Maecenas dapibus nunc purus, ac porttitor diam placerat a. Cras a cursus diam, ut consectetur turpis. Proin sed gravida
  odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis ac
  consectetur eros. Aenean commodo libero laoreet aliquet sagittis. Proin
  pharetra at dui sed blandit. <p1>

{% endblock %}
