{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<!-- Page that is displayed before user is logged in, currently contains 
dummy information -->

<h1 id="title">About</h1>
<h3>BUY GAMES</h3>
<p1 class="h4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Maecenas varius, massa nec lobortis congue, enim ex placerat libero, at
  ullamcorper justo magna quis nunc. Nullam id feugiat dui. Phasellus malesuada orci sit amet urna suscipit, ac placerat sem fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque magna mi, accumsan eget nulla vel, ultrices congue orci. Nam lobortis blandit urna. Nullam tincidunt, ligula non molestie porta, justo dolor rutrum magna, a tristique nibh neque sit amet nunc. Proin tincidunt lacus orci, at pellentesque ex maximus et. Maecenas dapibus nunc purus, ac porttitor diam placerat a. Cras a cursus diam, ut consectetur turpis. Proin sed gravida
  odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis ac
  consectetur eros. Aenean commodo libero laoreet aliquet sagittis. Proin
  pharetra at dui sed blandit. </p1>
<h3>MAKE GAMES AND EARN MONEY<h3>
<p1 class="h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Maecenas varius, massa nec lobortis congue, enim ex placerat libero, at
  ullamcorper justo magna quis nunc. Nullam id feugiat dui. Phasellus malesuada orci sit amet urna suscipit, ac placerat sem fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque magna mi, accumsan eget nulla vel, ultrices congue orci. Nam lobortis blandit urna. Nullam tincidunt, ligula non molestie porta, justo dolor rutrum magna, a tristique nibh neque sit amet nunc. Proin tincidunt lacus orci, at pellentesque ex maximus et. Maecenas dapibus nunc purus, ac porttitor diam placerat a. Cras a cursus diam, ut consectetur turpis. Proin sed gravida
  odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis ac
  consectetur eros. Aenean commodo libero laoreet aliquet sagittis. Proin
  pharetra at dui sed blandit. <p1>
<h3>SOCIALIZE AND COMPETE! </h3>
<p1 class="h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Maecenas varius, massa nec lobortis congue, enim ex placerat libero, at
  ullamcorper justo magna quis nunc. Nullam id feugiat dui. Phasellus malesuada orci sit amet urna suscipit, ac placerat sem fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque magna mi, accumsan eget nulla vel, ultrices congue orci. Nam lobortis blandit urna. Nullam tincidunt, ligula non molestie porta, justo dolor rutrum magna, a tristique nibh neque sit amet nunc. Proin tincidunt lacus orci, at pellentesque ex maximus et. Maecenas dapibus nunc purus, ac porttitor diam placerat a. Cras a cursus diam, ut consectetur turpis. Proin sed gravida
  odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis ac
  consectetur eros. Aenean commodo libero laoreet aliquet sagittis. Proin
  pharetra at dui sed blandit. <p1>

{% endblock %}
