{% extends 'base.html' %}
{% block title %}Buy Game{% endblock %}
{% block content %}

<!-- Page that contains hidden form that is used to communicate with simplepayments
payment service.  -->

<p>You are about to buy game {{context.game.name}}, below you can see the description of the game</p>
<p>{{context.game.description}}</p>


<form id="buyform" action="https://simplepayments.herokuapp.com/pay/" method="POST">
  <input type="hidden"  name="pid" value={{context.pid}} />
  <input type="hidden"  name="sid" value={{context.sid}} />

  <input type="hidden"  name="success_url" value={{context.success_url}} />
  <input type="hidden"  name="cancel_url" value={{context.cancel_url}} />
  <input type="hidden"  name="error_url" value={{context.error_url}} />

  <input type="hidden"  name="checksum" value={{context.checksum}} />
  <input type="hidden"  name="amount" value={{context.amount}} />

  <input type="submit" class="btn btn-primary" value="Pay {{context.game.price}} euros"></input>

</form>

  <!-- <button id="buybutton" type="submit" class="save btn btn-default">BUY</button> -->

{% endblock %}
