{% extends "base.html" %}

{% block content %}
    <div class="container">
        <p>You are almost ready to start using imma2 game-service! </p>
        <p>Confirm your registration via e-mail. Please check your e-mail inbox!</p>
        <p>(This project currently uses Django's Console Backend, which sends the e-mail to
        stdout. As this stream is only visible in the Heroku logs, please use the link provided
        here instead: <a href="{{ confirmation_link }}">{{ confirmation_link }}</a>)</p>
    </div>
{% endblock %}