{% extends 'base.html' %}

Page that displays the actual javascript games. Has eventlisteners for
messages that the game posts. Save, load and score messages are transfered
to the service using ajax.

Displays top 5 global highscores.

Settings are currently adjusted directly in javascript

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-9">
			<iframe id="freimi" src="{{game.url}}" height=800 width=90% name="iframe1"></iframe>
		</div>
		<div class="col-xs-3">
			<p>Highscores</p>
			<ul class="list-group" id="highscores">
				{% for s in scores %}
					<li class="list-group-item">
						<span class="badge">{{s.score}}</span>
						{{s.player.username}}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

<div id="tekstit"><div>

<script>

window.addEventListener("message", function(evt) {

	if(evt.data.messageType === "SCORE") {

		var score = evt.data.score;

		$.ajax({
			url: "{% url 'submit_highscore' game.id %}",
			type: 'POST',
			data: {
				score: score,
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function(data) {
				console.log("score submitted: " + score);
			}

		});

	}

	else if (evt.data.messageType === "SAVE") {

		$.post("{% url 'save' game.id %}",
			{
				type: "SAVE",
				data: JSON.stringify(event.data.gameState),
				csrfmiddlewaretoken: '{{ csrf_token }}'
			})

		console.log("save submitted:" + event.data.gameState);
	}

	else if (evt.data.messageType === "LOAD_REQUEST") {

		$.get("{% url 'load' game.id %}", function(data) {

			$("#freimi").get(0).contentWindow.postMessage({
				"messageType" : "LOAD",
				"gameState" : JSON.parse(data) //this data is just the gamestate, see views.py
			}, "*");
		}).done(function() {
			$("#freimi").get(0).contentWindow.postMessage({
				"messageType" : "MESSAGE",
				"message" : "Game state loaded succesfully!"
			}, "*");
		}).fail(function() {
			$("#freimi").get(0).contentWindow.postMessage({
				"messageType" : "MESSAGE",
				"message" : "Loading game state failed."
			}, "*");
		});
	}


	else if (evt.data.messageType === "SETTING") {
		adjustIframe(evt.data.options.width, evt.data.options.height);
	}

});

	function adjustIframe(x, y) {
	  document.getElementById("freimi").width = x;
	  document.getElementById("freimi").height = y;
	}

</script>

{% endblock %}
