{% extends 'base.html' %}

{% block content %}

	<div class="row">
		<div class="col-md-9">
			<iframe id="freimi" src="{{game.url}}" name="iframe1"></iframe>
		</div>
		<div class="col-md-3">
			<p>Highscores</p>
			<ul class="list-group">
				{% for s in scores %}
					<li class="list-group-item">
						<span class="badge">{{s.score}}</span>
						{{s.player.username}}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

<div id="tekstit"><div>

<script>
	var gs = {};

	window.addEventListener("message", function(evt) {

				// If LOAD, update the score
				if(evt.data.messageType === "SCORE") {
					var score = evt.data.score;

					$.ajax({
						url: "{% url 'submit_highscore' game.id %}",
						type: 'POST',
						data: {
							score: score,
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						success: function(data) {
							console.log("score submitted: " + score);
						}

					});

				}

	      else if (evt.data.messageType === "SAVE") {
					gs = evt.data.gameState;
	        changemessage("saved game with score: " + evt.data.gameState.score);
	      }

	      else if (evt.data.messageType === "LOAD_REQUEST") {


	      }

	      else if (evt.data.messageType === "SETTING") {
	        adjustIframe(evt.data.options.width, evt.data.options.height);
	        changemessage("settings requested: " + evt.data.options.height + "x" + evt.data.options.width);
	      }

			});

	function changeMessage(msg) {
		document.getElementById("asd").innerHTML = msg;

	}
	function adjustIframe(x, y) {
	  document.getElementById("freimi").width = x;
	  document.getElementById("freimi").height = y;
	}




	// 	changemessage("Responded with load game with score of: " + gs.score );
	// 	var iframe = document.getElementById("freimi")
	// 	var x = iframe.contentWindow;
	// 	x.postMessage(msg, '*');
	// }

	function changetarget() {
		var tekstikentta = document.getElementById("joku");
		var newpath = tekstikentta.value;
		var iframe = document.getElementById("freimi");
		iframe.src = newpath;
	}

	function changemessage(msg) {
		var elem = document.getElementById("tekstit");
		elem.innerHTML += msg +"<br>";
	}

</script>

{% endblock %}
