<!DOCTYPE html>
<html>
<title>MAIN PAGE</title>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <ul>
    <li><a href="{% url 'index' %}">HOME</a></li>
    <li><a href="testi">LOGIN</a></li>
    <li><a href="lol">CATEGORIES</a></li>
    <li><a href="juu">ABOUT</a></li>
  </ul>


</head>

<body background="background.jpg">

  <h1 id="title">WELCOME TO IMMA</h1>
  <p>this is text that will say something or not somewhere in the future</p>
  <div id="gamesbox">THIS IS WHERE THE GAMES WILL BE</div>
  <div id="leftbox">THIS IS ANOTHER BOX</div>


</body>
