{% extends "base.html" %}

{% block content %}

<!-- <p>Games you own:</p> -->
<h1 id="title">Games you own</h1>
{% for g in context.UserGames %}
  <!-- <i><b>Name:</i></b> {{ g.name }}
  <i><b>Description:</i></b> {{ g.description}}
  <a href="{% url 'game_detail' g.id %}">PLAY</a>
  <br> -->


  {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-xs-4">
      <div class="game-thumb">
        <a href="{% url 'game_detail' g.id %}" class="thumbnail">
          <img src="http://novelplanet.com/Uploads/Juu-Sai-no-Saikyou-Madoushi731.jpg"
          alt="Game thumbmail">
        </a>
        <p><b>{{ g.name }} </b></p>
        <!-- <br> -->
        <p1>{{ g.description }}</p1>
      </div>
    </div>
  {% if forloop.counter|divisibleby:3 %} </div><div class="row"> {% endif %}
  {% if forloop.last %} </div> {% endif %}

{% endfor %}

{% endblock %}
