{% extends 'base.html' %}

{% block title %}Login{% endblock %}

    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>

{% block content %}
	{% if user.is_authenticated %}
		<h1 id="title">All games. Choose game to start playing!</h1>
		<div class="container">
			{% for game in games %}
				{% if forloop.first %}<div class="row">{% endif %}
					<div class="col-xs-4">
						<div class="game-thumb">
							<a href="{% url 'game_detail' game.id %}" class="thumbnail">
								<img src="http://novelplanet.com/Uploads/Juu-Sai-no-Saikyou-Madoushi731.jpg" 
								alt="Game thumbmail">
							</a>
							<p>{{ game.name }} </p>
							<br>
						</div>
					</div>
				{% if forloop.counter|divisibleby:3 %} </div><div class="row"> {% endif %}
				{% if forloop.last %} </div> {% endif %}
			{% endfor %}
	{% else %}	
		<h1 id="title">WELCOME TO IMMA2 GAME-SERVICE! GL&HF</h1>
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<div class="jumbotron">
						<h2>BUY GAMES! </h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue arcu eget 
						sem sollicitudin commodo. Sed venenatis, quam sit amet pulvinar pulvinar, dolor ipsum 
						vestibulum erat, sed ornare mauris metus a purus.  </p>
						<p><a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more</a></p>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="jumbotron">
						<h2>PLAY GAMES! </h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue arcu eget 
						sem sollicitudin commodo. Sed venenatis, quam sit amet pulvinar pulvinar, dolor ipsum 
						vestibulum erat, sed ornare mauris metus a purus. </p>
						<p><a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more</a></p>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="jumbotron">
						<h2>SOCIALIZE AND COMPETE!</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue arcu eget 
						sem sollicitudin commodo. Sed venenatis, quam sit amet pulvinar pulvinar, dolor ipsum 
						vestibulum erat, sed ornare mauris metus a purus.  </p>
						<p><a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more</a></p>
					</div>
				</div>				
		
	{% endif %}
	</div>

{% endblock %}
