<!DOCTYPE html>
<html>
<title>HELLO USER</title>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <ul>
    <li><a href="">HOME</a></li>
    <li><a href="login">LOGOUT</a></li>
    <li><a href="register">REGISTER</a></li>
    <li><a href="categories">CATEGORIES</a></li>
    <li><a href="about">ABOUT</a></li>
  </ul>


</head>

<body background="background.jpg">

  <h1 id="title">WELCOME TO IMMA</h1>
  <p>this is text that will say something or not somewhere in the future</p>
  <div id="gamesbox">THIS IS WHERE THE GAMES WILL BE</div>
  <div id="leftbox">THIS IS ANOTHER BOX</div>


</body>
