<!DOCTYPE html>
<html>
<title>MAIN PAGE</title>
<head>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
  <ul>
    <li><a href="main_page.html">HOME</a></li>
    <li><a href="login.html">LOGIN</a></li>
    <li><a href="register.html">REGISTER</a></li>
    <li><a href="categories.html">CATEGORIES</a></li>
    <li><a href="about.html">ABOUT</a></li>
  </ul>


</head>

<body background="background.jpg">

  <h1 id="title">WELCOME TO IMMA</h1>
  <p>this is text that will say something or not somewhere in the future</p>
  <div id="gamesbox">THIS IS WHERE THE GAMES WILL BE</div>
  <div id="leftbox">THIS IS ANOTHER BOX</div>


</body>
