<!DOCTYPE html>
<html>
<title>HELLO USER</title>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <ul>
    <li><a href="file:///C:/Users/OMISTAJA/WEB_HARKKA/webohj/imma/imma/templates/main_page.html">HOME</a></li>
    <li><a href="file:///C:/Users/OMISTAJA/WEB_HARKKA/webohj/imma/imma/templates/login.html">LOGOUT</a></li>
    <li><a href="file:///C:/Users/OMISTAJA/WEB_HARKKA/webohj/imma/imma/templates/register.html">REGISTER</a></li>
    <li><a href="lol">CATEGORIES</a></li>
    <li><a href="juu">ABOUT</a></li>
  </ul>


</head>

<body background="background.jpg">

  <h1 id="title">WELCOME TO IMMA</h1>
  <p>this is text that will say something or not somewhere in the future</p>
  <div id="gamesbox">THIS IS WHERE THE GAMES WILL BE</div>
  <div id="leftbox">THIS IS ANOTHER BOX</div>


</body>
