{% extends 'base.html' %}

{% block content %}
<h1 id="title">Profile</h1><br>
{% if devbool %}
<!-- <p><a href="{% url 'dev' %}">DEV PAGE</a></p> -->
<form action="{% url 'dev' %}" class="container text-center">
  <input type="submit" class="btn btn-primary" value="Developer page"/>
</form><br>
{% endif %}

<p><b>User information</b></p>
<h1 class="container"><kbd> Username: {{request.user}}</kbd> </h1>
<h1 class="container"><kbd> Email: {{request.user.email}}</kbd> </h1><br>

<!-- <div class="container"><a href="{% url 'shop' %}">Browse shop games</a></div> -->
<form action="{% url 'shop' %}" class="container">
  <input type="submit" class="btn btn-primary" value="Browse shop games"/>
</form><br>

<form action="{% url 'library' %}" class="container">
  <input type="submit" class="btn btn-primary" value="Browse your owned games"/>
</form>

{% endblock %}
