{% extends "base.html" %}

<!-- Page that displays shop. Only presents the games that user DOESNT already
own. Has links to buy each game -->

{% block content %}

<h1 id="title">Games in shop you don't own</h1>
{% for g in context.GamesAvailable %}
{% if forloop.first %}<div class="row">{% endif %}
  <div class="col-xs-4">
    <div class="game-thumb">
      <a href="{% url 'buygame' g.id %}" class="thumbnail">
        <img src="http://novelplanet.com/Uploads/Juu-Sai-no-Saikyou-Madoushi731.jpg"
        alt="Game thumbmail">
      </a>
      <p><b>{{ g.name }} </b></p>
      <p1>{{ g.description }}</p1>
    </div>
  </div>
{% if forloop.counter|divisibleby:3 %} </div><div class="row"> {% endif %}
{% if forloop.last %} </div> {% endif %}

{% endfor %}

{% endblock %}
