{% extends 'base.html' %}

<!-- Page that uses the signupform form from forms.py.
User can select if developer status is applied or not -->

{% block content %}
<div>
	<h2>Sign up</h2>
	<form method="post" >
		{% csrf_token %}
		{% for field in form %}
			<div>
			{{ field.label_tag }}<br>
			{{ field }}
			{% if field.help_text %}
				{{ field.help_text }}
			{% endif %}
			{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
			{% endfor %}
			</div>
		{% endfor %}
		<button type="submit">Sign up</button>
	</form>
</div>
{% endblock %}
